<template>
    <div class="main-div">

        <div style="margin-left:1%;margin-right:1%">

            <div class="box slds-grid">
                <div class="slds-col slds-size_1-of-12 slds-float_right" >
                    <img src={componentsNumberIcon} alt="lampIcon" class="customIcon">
                </div>
                <div class="slds-col slds-size_6-of-12 " style="padding-left: 0.7%;">
                    <span>No. of Components</span>

                </div>
                <div class="slds-col slds-size_5-of-12 info-black ">
                    {amountOfComponenets}

                </div>


            </div>

            <div class="box slds-grid ">
                <div class="slds-col slds-size_1-of-12 slds-float_right" >
                    <img src={codeQualityIcon} alt="lampIcon" class="customIcon">
                </div>
                <div class="slds-col slds-size_6-of-12" style="padding-left: 0.7%;">
                    <span>Code Quality</span>

                </div>
                <div class="slds-col slds-size_5-of-12 info-black  " >
                    <span if:false={issuesAmount} class={style}>
                        {codeQualityResult}
                    </span>
                    <span if:true={issuesAmount} class={style}>
                        {issuesAmount} Issues
                    </span>
                </div>


            </div>

            <div class="box slds-grid">
                <div class="slds-col slds-size_1-of-12 slds-float_right" >
                    <img src={analysisIcon} alt="lampIcon" class="customIcon">
                </div>
                <div class="slds-col slds-size_6-of-12" style="padding-left: 0.7%;">
                    <span>Impact Analysis</span>

                </div>
                <div class="slds-col slds-size_5-of-12 info-black" >
                    <span if:true={orgData.impactAnalysis}>
                        {orgData.impactAnalysis}</span>

                </div>

            </div>

            <div class="box slds-grid ">
                <div class="slds-col slds-size_1-of-12 slds-float_right" >
                    <img src={codeReviewIcon} alt="lampIcon" class="customIcon">
                </div>
                <div class="slds-col slds-size_6-of-12" style="padding-left: 0.7%;">
                    <span>Code Review by</span>

                </div>
                <div class="slds-col slds-size_5-of-12 info-black" style="color:#00a1e0;text-align: right;padding-right: 1%">
                    {codeReviewBy}

                </div>

            </div>
            <div class="box slds-grid">
                <div class="slds-col slds-size_1-of-12 slds-float_right" >
                    <img src={analysisIcon} alt="lampIcon" class="customIcon">
                </div>
                <div class="slds-col slds-size_6-of-12" style="padding-left: 0.7%;">
                    <span>Deployment Analyzer</span>

                </div>
                <div class=" slds-col slds-size_5-of-12 info-black"  >
                    <span if:true={deploymentAnalyzerInfo} class={deploymentAnalyzerInfo.color}> {deploymentAnalyzerInfo.info}  </span> 
                </div>

            </div>

        </div>
        <div style="padding: 3% 1% 3% 4%">

            <h3 class=" slds-m-bottom-x-small slds-title " style=" padding-top: 2%;padding-bottom:2%;" >
                <div class="slds-grid ">
                    <div class="user-story slds-col slds-size_8-of-12">Owner</div>
                    <div class=" slds-col slds-size_4-of-12 " style="color:#00a1e0;text-align: right;padding-right: 1%"> {orgData.owner}</div>
                </div>
            </h3>
            <div class="slds-grid slds-align_absolute-center">
                <div class="slds-col slds-size_8-of-12 text-with-img ">

                    <img src={clockIcon}  alt="lampIcon">
                    <span style="padding-top: 1%;">
                        Date Last Updated:
                    </span>

                </div>
                <div class="slds-col slds-size_4-of-12 info-black"  >
                     <span if:false={orgData.isToday}>
                    {orgData.dateDifference} days ago
                </span>
                <span if:true={orgData.isToday}>
                    Today
                </span>
            </div>
            </div>
            <div class="slds-grid slds-align_absolute-center">
                <div class="slds-col slds-size_8-of-12 text-with-img  ">

                    <img src={clockIcon} alt="clockIcon">
                    <span style="padding-top: 1%;">
                        Last Deployed:
                    </span>

                </div>
                <div class="slds-col slds-size_4-of-12 info-black" >
                    <span if:true={showDeploymentDate} >
                    <span if:false={ifToday} >
                         {orgData.dataDifferenceFromDeployment} days ago
                    </span>
                    <span if:true={ifToday} >
                        Today
                </span>
                </span>
                </div>
            </div>
        </div>
    </div>



</template>