.user-story{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    
}
.main-div{
    background-color: #f9f9f9;
    padding: 3% 3% 3% 3%;
    font-family: NunitoSans;
    border-radius: 7px;
}
.text-with-img{
    display: flex;
    align-items: center;
  }
.jira-task{
   
    font-family: SFProDisplay;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00a1e0;
    border: solid 1px #2d9cdb;

    border-radius: 4px;
}
.box{
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.info-black 
{
    text-align: right;
    padding-right: 1%;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    white-space: initial;
    overflow-wrap: break-word;
}
.green{
    color:#6fcf97
}

.red{
    color:#fd5263
}

.grey{
    color:#363232
}