<template>
    <div class="col-12">
        <div style="margin-top: 1%; margin-bottom: 1%;">
            <div class="slds-clearfix" style="      padding: 0.5% 0.5% 0.5% 0.5%; width: 150px;
            text-align: center; border-radius: 4px;
            border: solid 1px #ffffff;
            background-color: #ffffff;margin-left: 1%">
            
            Branches updated in
                        <lightning-layout-item size="4" style="    text-align: left;">
                   <lightning-combobox name="progress" value={value} days={days} 
                                options={options} onchange={handleChange}>
                            </lightning-combobox>
                        </lightning-layout-item>
                     
             
            </div>
        </div>
            <div class="board">
                <div class="slds-grid">
                    <template for:each={columns} for:item="col">
                        <div key={col} class="slds-item  columns-boarder">
                            <div class="slds-tile ">

                                <h3>
                                    <div class="slds-grid ">
                                        <div class="slds-col slds-size_2-of-12 ">
                                           <span if:true={col.icon}> <img src={col.icon} alt="typeIcon"></span>
                                        </div>
                                        <div class="slds-col slds-size_8-of-12  swimlane-name">
                                            {col.type}
                                        </div>
                                        <div class="slds-col slds-size_2-of-12 swimlane-amount">
                                            {col.amount}
                                        </div>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </template>
                </div>

                <div class="slds-grid">
                    <template for:each={rows} for:item="row">
                        <c-one-card-folder key={row.key} org-data={row.value} class="columns-boarder">
                        </c-one-card-folder>
                    </template>
                </div>

            </div>
        </div>
</template>