.board {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}
.slds-tile{
  border-radius: 6px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #ffffff;
  background-color: #f9f9f9;  
  padding-bottom:2%; 
  padding-right:3%;
  padding-left: 3%; 
  padding-top: 2%;
  width: 315px;
}
.col-12 {
  background-color: #f2f2f2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
}
.swimlane-name{
  font-family: Nunito;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #000000;
   margin: auto;
}
.swimlane-amount{
  font-family: SFPro;
   font-size: 24px;
   font-weight: bold;
   font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;margin: auto;
}
.columns-boarder{
  padding: 0% 1.5% 1% 0% ;
  margin-left: 1%;
}