<!--
 - Created by vladislav on 6.09.21.
 -->

<!-- Dual Listbox Classic -->
<template>
    <template if:true={label}>
        <div class="text-body_bold">
            {label}
        </div>
    </template>
    <div class="container text-body slds-p-top_small" data-id="dual-listbox-metadata-types">
        <!-- Available Options List-->
        <div class="dual-listbox-list-container">
            <span class="text-body_bold font-size_x-small">{sourceLabel}</span>
            <select class="dual-listbox-list" data-id="dual-listbox-list-available" multiple>
                <template for:each={availableList} for:item="item">
                    <option key={item.value} value={item.value}>
                        {item.label}
                    </option>
                </template>
            </select>
        </div>

        <!-- NAV -->
        <div class="vertical-align_center dual-listbox-nav" onclick={handleChange}>
            <!-- >> -->
            <div class="">
                <input class="btn" type="button" value="&#187;" data-id="all-to-selected">
            </div>
            <!-- > -->
            <div class="">
                <input class="btn" type="button" value="&#8250;" data-id="to-selected">
            </div>
            <!-- < -->
            <div class="">
                <input class="btn" type="button" value="&#8249;" data-id="to-available">
            </div>
            <!-- << -->
            <div class="">
                <input class="btn" type="button" value="&#171;" data-id="all-to-available">
            </div>
        </div>

        <!-- Selected Options List-->
        <div class="dual-listbox-list-container">
            <span class="text-body_bold font-size_x-small">{selectedLabel}</span>
            <select class="dual-listbox-list" data-id="dual-listbox-list-selected" multiple>
                <template for:each={selectedList} for:item="item">
                    <option key={item.value} value={item.value}>
                        {item.label}
                    </option>
                </template>
            </select>
        </div>
    </div>
</template>