/**
 * Created by vladislav on 6.09.21.
 */
.dual-listbox-list-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dual-listbox-list {
    width: 250px;
    height: 250px;
    overflow: auto;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}

.dual-listbox-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.dual-listbox-nav input{
    font-size: 14px;
    width: 20px;
}

.container {
    max-width: 600px;
    min-width: 560px;
    display: flex;
    justify-content: flex-start;
}

.btn {
    color: #333;
    margin: 3px;
    padding: 5px 4px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
    background-color: #e8e8e9;
    font-weight: bold;
    font-size: 0.9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.vertical-align_center {
    display: flex;
    align-items: center;
}

.text-body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}

.text-body_bold {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.font-size_x-small {
    font-size: 12px;
}

.font-size_small {
    font-size: 14px;
}

.font-size_medium {
    font-size: 16px;
}

.font-size_large {
    font-size: 18px;
}