.slds-tile {
  border-radius: 10px;
  background-color: #ffffff;
  font-family: Nunito;
  padding-bottom: 3%;
   padding-right:3%;
   padding-left: 3%;
   box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05); 
   margin-top:3%;

}

.slds-item {
  border: none !important;
  width: 315px;
  border-radius: 0 !important;
}

.status {
  padding-top: 3%;
  margin: 3%;
  font-family: Nunito;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  align-items: flex-end;
}
.text-with-img{
  display: flex;
  align-items: center;
}

.slds-branch-name {
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #00a1e0;
  white-space: initial;
}
.slds-lane {
  overflow-y: auto;
  flex: 1 1 0%;
  min-width: 5rem;
}