<template>
        <div class="slds-item  slds-m-around-small">

            <template for:each={d} for:item="element">
                <div key={element} class="slds-tile ">
                    <h3 style="margin-top: 3%;margin-right: 3%; padding-top:3%">
                        <div class="slds-grid ">
                            <div class="slds-col slds-size_10-of-12" style=" padding-left: 3%;overflow-wrap: break-word;">
                                <a href={element.row.linkOnBranch}    class=" slds-branch-name">

                                    {element.row.name}
                                </a>
                                <div class="text-with-img " style=" font-family: NunitoSans; ">
                                    <img src={clockIcon} alt="lampIcon" style="vertical-align:middle">
                                    <div style="padding-top: 1%;">
                                        Updated <span if:false={element.row.isToday}>
                                            {element.row.dateDifference} days ago
                                        </span>
                                        <span if:true={element.row.isToday}>
                                            Today
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-12" style="text-align: end;">
                                <div if:false={element.row.openAdditionalData} data-rowid={element.row.id}
                                    onclick={openAdditionalDataHandler}>
                                    <img src={buttomGreyIcon} alt="additionalDataIcon">
                                </div>
                                <div if:true={element.row.openAdditionalData} data-rowid={element.row.id}
                                    onclick={openAdditionalDataHandler}>
                                    <img src={buttomIcon} alt="additionalDataIcon">
                                </div>
                            </div>
                        </div>
                    </h3>
                </div>

                <c-additional-data-folder key={element.row} if:true={element.row.openAdditionalData}
                    org-data={element.row}>
                </c-additional-data-folder>
            </template>

        </div>
</template>