<!--
 - Created by vladislav on 6.09.21.
 -->

<!-- Combobox Classic -->
<template>
    <template if:true={label}>
        <div class="text-body_bold">
            {label}
        </div>
    </template>
    <select placeholder={placeholder}
            onchange={handleChange}
            class="text-body"
            data-id="select-combobox-classic">
        <template for:each={options} for:item="option">
            <template if:true={option.selected}>
                <option key={option.value} value={option.value} selected="selected">
                    {option.label}
                </option>
            </template>
            <template if:false={option.selected}>
                <option key={option.value} value={option.value}>
                    {option.label}
                </option>
            </template>
        </template>
    </select>
</template>