/**
 * Created by vladislav on 6.09.21.
 */

.text-body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}

.text-body_bold {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}