.hr {
    border-bottom: 1px solid rgb(185, 179, 179);
}

.header {
    font-size: 14px;
}

.row:hover {
    background: #ececec;
}

.records-not-found {
    font-size: 24px;
    color: #7c8da9;
}

.not-sorted {
    color: var(--lwc-brandTextLink,rgb(1, 118, 211));
}
