<template>
  <div if:true={isInitialized} class="slds-card">
    <div class="slds-card__header detail-header">
      <lightning-layout class="header">

        <lightning-layout-item if:true={privateTableSettings.isSupportSelect} class="check-box-container">
          <lightning-input type="checkbox" label="" variant="label-hidden" onchange={handleSelectAll}></lightning-input>
        </lightning-layout-item>

        <lightning-layout-item for:each={privateTableSettings.columnList}
                               for:item="column"
                               key={column.field}
                               size={column.size}
        >
          <template if:true={column.isSorted}>
            <a data-id={column.field} data-type={column.type} onclick={handleSort}>
              {column.label}
              <span class="slds-hide sorted-column-arrow" data-sort-field-up={column.field}>▲</span>
              <span class="slds-hide sorted-column-arrow" data-sort-field-down={column.field}>▼</span>
            </a>
          </template>
          <template if:false={column.isSorted}>
            <span class="not-sorted">{column.label}</span>
          </template>
        </lightning-layout-item>
      </lightning-layout>
    </div>

    <div class="hr"></div>
    <div class="slds-card__body slds-card__body_inner">
        <div for:each={showedTableRowList} for:item="row" key={row.key} class="slds-p-vertical_xx-small row">
          <lightning-layout >
            <lightning-layout-item if:true={privateTableSettings.isSupportSelect} class="check-box-container">
              <lightning-input checked={row.isChecked}
                               type="checkbox"
                               label=""
                               data-id={row.id}
                               variant="label-hidden"
                               onchange={handleSelectComponent}>
              </lightning-input>
            </lightning-layout-item>
            <lightning-layout-item for:each={row.columnList}
                                   for:item="column"
                                   key={column.key}
                                   size={column.size}
                                   class="slds-truncate slds-p-right_xx-small"
            >
              <template if:true={column.isCheckbox}>
                <lightning-input type="checkbox"
                                 variant="label-hidden"
                                 label=""
                                 data-id={row.id}
                                 data-field={column.fieldName}
                                 onchange={handleCheckField}
                                 checked={column.field}></lightning-input>
              </template>
              <template if:false={column.isCheckbox}>
                <template if:false={column.isAction}>
                  {column.field}
                </template>
                <template if:true={column.isAction}>
                  <a onclick={handleAction} data-id={row.id} style={column.style}>{column.field}</a>
                </template>
              </template>


            </lightning-layout-item>

          </lightning-layout>
        </div>
      </div>

    <div class="slds-m-top_medium">
        <lightning-layout vertical-align="center" horizontal-align="space">
          <lightning-layout-item >
            <lightning-layout >
              <lightning-layout-item >
                <lightning-button disabled={paginationInfo.isDisableLeftSection} class="slds-p-right_xx-small" data-id="first" label="First" onclick={handlePagination}></lightning-button>
              </lightning-layout-item>
              <lightning-layout-item >
                <lightning-button disabled={paginationInfo.isDisableLeftSection}  data-id="previous" label="Previous" onclick={handlePagination}></lightning-button>
              </lightning-layout-item>
            </lightning-layout>
          </lightning-layout-item>
          <div class="slds-text-color_default slds-text-align_center">{paginationInfo.label}</div>
          <lightning-layout-item >
            <lightning-layout >
              <lightning-layout-item >
                <lightning-button disabled={paginationInfo.isDisableRightSection} class="slds-p-right_xx-small" data-id="next" label="Next" onclick={handlePagination}></lightning-button>
              </lightning-layout-item>
              <lightning-layout-item >
                <lightning-button disabled={paginationInfo.isDisableRightSection} data-id="last" label="Last" onclick={handlePagination}></lightning-button>
              </lightning-layout-item>
            </lightning-layout>
          </lightning-layout-item>
        </lightning-layout>
      </div>
  </div>
  <div if:false={isInitialized} class="slds-grid slds-grid_vertical-align-center slds-grid_align-center slds-p-around_large">
    <lightning-icon class="slds-p-horizontal_xx-small icon-foreground_gray" icon-name="utility:database" size="small"></lightning-icon>
    <span class="records-not-found slds-p-left_medium">Records not found</span>
  </div>

</template>
