<!--
 - Created by vladislav on 17.09.21.
 -->

<!--    API
            is-loading="true"
            is-directional="true"
            is-hide-header="true" // header will hide!
            is-hide-footer="true" // footer will hide!
            is-hide-cancel="true" // cancel will hide!
            is-hide-modal="true" //modal will hide, but not remove!
            is-disable-cancel="true" //cancel button will disable
            is-disable-save="true" //save button will disable
            text-header="Header"
            text-content="It's content for modal"
            text-save="Save"
            text-cancel="Cancel"
            size="small" // small, medium, large
            onclose={handleClose}
            onsave={handleSave}
            oncancel={handleCancel}

        SLOTS
            slot="header"
            slot="content"
            slot="footer"
-->

<!-- Example 1
    <c-custom-modal
            is-loading={isLoading}
            is-directional="true"
            text-header="Header"
            text-content="It's content for modal"
            text-save="Save"
            text-cancel="Cancel"
            size="small"
            onclose={handleClose}
            onsave={handleSave}
            oncancel={handleCancel}
    >
    </c-custom-modal>
-->

<!-- Example 2
    <c-custom-modal
            is-loading={isLoading}
            size="large"
            onclose={handleClose}
    >
      <div slot="header">
        <h2 class="slds-modal__title slds-hyphenate">Header</h2>
      </div>
      <div slot="content">
        <p>It's content</p>
      </div>
      <div slot="footer">
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
          <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
        </footer>
      </div>
    </c-custom-modal>
-->

<!-- Custom Modal -->
<template>
    <section class={classContainer}>
        <div class="slds-modal__container">
            <div class="slds-is-relative">
                <template if:true={isLoading}>
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </template>
                <header class={classHeader}>
                    <lightning-button-icon icon-name="utility:close"
                                           alternative-text="Close this window"
                                           size="large"
                                           variant="bare-inverse"
                                           onclick={handleClose}
                                           class="slds-modal__close">
                    </lightning-button-icon>
                    <slot name="header">
                        <template if:false={isHideHeader}>
                            <h2 class="slds-modal__title slds-hyphenate">{textHeader}</h2>
                        </template>
                    </slot>
                </header>
                <div class="slds-modal__content slds-p-around_medium slds-scrollable" style="max-height: 500px">
                    <slot name="content"><p>{textContent}</p></slot>
                </div>
                <slot name="footer">
                    <template if:false={isHideFooter}>
                        <footer class={classFooter}>
                            <template if:false={isHideCancel}>
                                <button class="slds-button slds-button_neutral" onclick={handleCancel} disabled={isDisableCancel}>{textCancel}</button>
                            </template>
                            <button class="slds-button slds-button_brand" onclick={handleSave} disabled={isDisableSave}>{textSave}</button>
                        </footer>
                    </template>
                </slot>
            </div>
        </div>
    </section>
    <div class={classBackdrop}></div>
</template>