.toast {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.toast-content {
    height: 45px;
    margin: 0;
    width: 100%;
}

.toast-success {
    background-color: rgb(92 158 114);
    border-radius: 0;
}

.toast-warning {
    background-color: rgb(255 173 104);
    border-radius: 0;
}

.toast-error {
    border-radius: 0;
    background-color: rgb(255 93 93);
}


.icon {
    --sds-c-icon-color-foreground-default: white;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

.font-size_large {
    font-size: 16px;
}

@-webkit-keyframes fadein {
    from { top: -30px; opacity: 0; }
    to { top: 0px; opacity: 1; }
}

@keyframes fadein {
    from { top: -30px; opacity: 0; }
    to { top: 0px; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { top: 0px; opacity: 1; }
    to { top: -30px; opacity: 0; }
}

@keyframes fadeout {
    from { top: 0px; opacity: 1; }
    to { top: -30px; opacity: 0; }
}