<template>
    <div data-id="toast" class="toast">
        <template if:true={isSuccess}>
          <div class="toast-content slds-notify slds-notify_toast slds-theme_success toast-success" role="status">
            <lightning-icon class="icon slds-m-right_small" icon-name="utility:success" size="small"></lightning-icon>
            <div class="slds-notify__content">
              <h2 class="font-size_large ">
                {message}
              </h2>
            </div>
          </div>
        </template>
    
        <template if:true={isWarning}>
          <div class="toast-content slds-notify slds-notify_toast slds-theme_warning toast-warning" role="status">
            <lightning-icon class="icon slds-m-right_small" icon-name="utility:warning" size="small"></lightning-icon>
            <div class="slds-notify__content">
              <h2 class="font-size_large ">
                {message}
              </h2>
            </div>
          </div>
        </template>
    
        <template if:true={isError}>
          <div class="toast-content slds-notify slds-notify_toast slds-theme_error toast-error" role="status">
            <lightning-icon class="icon slds-m-right_small" icon-name="utility:error" size="small"></lightning-icon>
            <div class="slds-notify__content">
              <h2 class="font-size_large ">
                {message}
              </h2>
            </div>
          </div>
        </template>
      </div>
</template>