.toast {
    visibility: hidden;
    position: fixed;
    z-index: 10000;
    top: 30px;
    text-align: center;
}

.toast-content {
    height: 55px;
}

.icon {
    --sds-c-icon-color-foreground-default: white;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@-webkit-keyframes fadein {
    from { top: 0; opacity: 0; }
    to { top: 30px; opacity: 1; }
}

@keyframes fadein {
    from { top: 0; opacity: 0; }
    to { top: 30px; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { top: 30px; opacity: 1; }
    to { top: 0; opacity: 0; }
}

@keyframes fadeout {
    from { top: 30px; opacity: 1; }
    to { top: 0; opacity: 0; }
}