<template>
<!--  <div data-id="toast" class="toast">Some text some message..</div>-->
  <div data-id="toast" class="toast slds-notify_container slds-is-relative">
    <template if:true={isSuccess}>
      <div class="toast-content slds-notify slds-notify_toast slds-theme_success" role="status">
        <lightning-icon class="icon slds-m-right_small" icon-name="utility:success"></lightning-icon>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small ">
            {message}
          </h2>
        </div>
      </div>
    </template>

    <template if:true={isWarning}>
      <div class="toast-content slds-notify slds-notify_toast slds-theme_warning" role="status">
        <lightning-icon class="icon slds-m-right_small" icon-name="utility:warning"></lightning-icon>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small ">
            {message}
          </h2>
        </div>
      </div>
    </template>

    <template if:true={isError}>
      <div class="toast-content slds-notify slds-notify_toast slds-theme_error" role="status">
        <lightning-icon class="icon slds-m-right_small" icon-name="utility:error"></lightning-icon>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small ">
            {message}
          </h2>
        </div>
      </div>
    </template>
  </div>
</template>