<!--
 - Created by vladislav on 20.10.21.
 -->

<!-- Tracking Retrieve Manually -->
<template>
    <c-custom-toast ></c-custom-toast>
    <c-custom-modal
            is-loading={isLoading}
            is-hide-modal={isHideModal}
            is-disable-save={isDisableButtonManualPull}
            text-header="Retrieve Manually"
            text-save="Retrieve"
            text-cancel="Cancel"
            size="large"
            onclose={handleCloseModal}
            onsave={handleManualPull}
            oncancel={handleCloseModal}
            data-id="too-large-modal"
    >
        <div slot="content">
            <iframe height="0" class="border_none slds-grid"  src={urlTrackingHelperPage} data-id="tracking-helper"></iframe>

            <template if:false={log}>
                <div style="max-width: 99%">
                    <c-component-table table-settings={tooLargeSettings} data-id="too-large-table" onselect={handleManualPullSelect}></c-component-table>
                </div>
            </template>

            <template if:true={log}>
                <div class="slds-vertical-tabs" data-id="activeManualLog">

                    <div class={log.contentClass} data-id={log.contentId} role="tabpanel" aria-labelledby="slds-vertical-tabs-0__nav">
                        <div class="slds-grid slds-grid_vertical slds-text-longform">
                            <div class="slds-col">
                                <div class="slds-grid  slds-p-horizontal_medium">
                                    <div class="slds-p-right_medium text-body_medium"><span class="color-link">Started Date:</span> {log.startedDate}</div>
                                    <div class="slds-p-right_medium text-body_medium"><span class="color-link">Status:</span> {log.status}{log.errorMessage}</div>
                                    <template if:true={log.completedDate}>
                                        <div class="slds-p-right_medium text-body_medium"><span class="color-link">Completed Date:</span> {log.completedDate}</div>
                                    </template>
                                </div>
                            </div>
                            <div class="slds-col">
                                <hr class="slds-m-vertical_small">
                            </div>
                            <div class="slds-col">
                                <div class="log-body-block log-body-block_small card slds-p-horizontal_medium">
                                    {log.body}
                                </div>
                            </div>
                            <div class="slds-col">
                                <lightning-input class="autoscroll slds-p-top_small" type="checkbox" label="Autoscroll with output" name="autoscroll" checked disabled={log.isNotInProcess}></lightning-input>
                            </div>
                        </div>

                    </div>
                </div>
            </template>

        </div>
    </c-custom-modal>

    <template if:true={isShowModalKillProcess}>
        <c-custom-modal
                text-header="Kill Process"
                text-save="Kill"
                onclose={handleCloseModalKillProcess}
                oncancel={handleCloseModalKillProcess}
                onsave={handleKillProcess}
                text-content="Are you sure kill process? You won't retrieve components."
                size="small"
        ></c-custom-modal>
    </template>
</template>