/**
 * Created by vladislav on 20.10.21.
 */

.card {
    border: var(--lwc-borderWidthThin) solid #dddbda!important;
}

.log-body-block {
    height: 430px;
    white-space: pre-line;
    overflow-y: auto;
    overflow-wrap: anywhere;
}

.log-body-block_small {
    height: 350px;
}

.border_none {
    border: none;
}

.color-link {
    color: rgba(1, 118, 211, 1);
}

.text-body_medium {
    font-size: 14px;
}