<template>
  <div class="slds-card">
    <div class="slds-card__header">
      <lightning-layout class="title">
        <lightning-layout-item size="1" class="check-box-container">
          <lightning-input type="checkbox" label="" variant="label-hidden"></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="4">
          <a data-id="componentName" onclick={handleSort}>Component Name</a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="componentType" onclick={handleSort}>Component Type</a>
        </lightning-layout-item>
        <lightning-layout-item size="1">
          <a data-id="changedAction" onclick={handleSort}>Changed Action</a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="changedBy" onclick={handleSort}>Changed By</a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="changedDate" onclick={handleSort}>Changed Date</a>
        </lightning-layout-item>
      </lightning-layout>
    </div>

    <div class="hr"></div>

    <div class="slds-card__body slds-card__body_inner">
      <template for:each={changedComponentList} for:item="component">
        <div key={component.id} class="slds-m-vertical_small">
          <lightning-layout >
            <lightning-layout-item size="1" class="check-box-container">
              <lightning-input type="checkbox" label="" variant="label-hidden"></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="4">
              {component.componentName}
            </lightning-layout-item>
            <lightning-layout-item size="2">
              {component.componentType}
            </lightning-layout-item>
            <lightning-layout-item size="1">
              {component.changedAction}
            </lightning-layout-item>
            <lightning-layout-item size="2">
              {component.changedBy}
            </lightning-layout-item>
            <lightning-layout-item size="2">
              {component.changedDate}
            </lightning-layout-item>
          </lightning-layout>
        </div>
      </template>
    </div>
  </div>

</template>