<!--
 - Created by vladislav on 1.09.21.
 -->

<!-- classicSupportedSourceMember -->
<template>
    <div class="slds-card">
        <div class=" detail-header">
            <lightning-layout>
                <lightning-layout-item size="1" class="check-box-container-header slds-p-left_x-small slds-border_right">
                    <input type="checkbox" value={isSelectedAll} onchange={handleSelectAll}>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="componentName" onclick={handleSort}>
                        Component Name
                        <span data-id="source-table-componentName-up">▲</span>
                        <span class="slds-hide" data-id="source-table-componentName-down">▼</span>
                    </a>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="componentType" onclick={handleSort}>
                        Component Type
                        <span class="slds-hide" data-id="source-table-componentType-up">▲</span>
                        <span class="slds-hide" data-id="source-table-componentType-down">▼</span>
                    </a>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="changedAction" onclick={handleSort}>
                        Changed Action
                        <span class="slds-hide" data-id="source-table-changedAction-up">▲</span>
                        <span class="slds-hide" data-id="source-table-changedAction-down">▼</span>
                    </a>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="changedBy" onclick={handleSort}>
                        Changed By
                        <span class="slds-hide" data-id="source-table-changedBy-up">▲</span>
                        <span class="slds-hide" data-id="source-table-changedBy-down">▼</span>
                    </a>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="changedOn" onclick={handleSort}>
                        Changed On
                        <span class="slds-hide" data-id="source-table-changedOn-up">▲</span>
                        <span class="slds-hide" data-id="source-table-changedOn-down">▼</span>
                    </a>
                </lightning-layout-item>
                <lightning-layout-item size="1" class="slds-p-left_x-small detail-header-element">
                    <a class="text-body_bold font-size_x-small" data-id="status" onclick={handleSort}>
                        Status
                        <span class="slds-hide" data-id="source-table-status-up">▲</span>
                        <span class="slds-hide" data-id="source-table-status-down">▼</span>
                    </a>
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <div class="slds-border_left slds-border_right">
            <template for:each={changedComponentList} for:item="component">
                <div key={component.id} class="slds-p-vertical_xx-small slds-border_bottom table-row">
                    <lightning-layout>
                        <lightning-layout-item size="1" class="check-box-container slds-p-left_x-small">
                            <input type="checkbox"
                                   data-id={component.id}
                                   checked={component.checked}
                                   onchange={handleSelectComponent}
                            >
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="text-wrap_hard text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.componentName}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="text-wrap_hard text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.componentType}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.changedAction}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.changedBy}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class=" text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.changedOn.label}
                        </lightning-layout-item>
                        <lightning-layout-item size="1" class=" text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.statusLabel}
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </template>
        </div>
    </div>
</template>