<!--
 - Created by vladislav on 8.09.21.
 -->

<!-- classicNotSupportedSourceMember -->
<template>
    <div class="background_white">
        <div class=" detail-header">
            <lightning-layout>
                <lightning-layout-item size="3" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <div class="text-body_bold font-size_x-small">
                        Changed Component Number
                    </div>

                </lightning-layout-item>
                <lightning-layout-item size="3" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <div class="text-body_bold font-size_x-small">
                        Component Name
                    </div>

                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <div class="text-body_bold font-size_x-small">
                        Component Type
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <div class="text-body_bold font-size_x-small">
                        Changed By
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-left_x-small slds-border_right detail-header-element">
                    <div class="text-body_bold font-size_x-small">
                        Changed On
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <div class="slds-border_left slds-border_right">
            <template for:each={changedComponentList} for:item="component">
                <div key={component.id} class="slds-p-vertical_xx-small slds-border_bottom table-row">
                    <lightning-layout>
                        <lightning-layout-item size="3" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            <a class="link" data-id={component.id} onclick={handleOpenRecord}>{component.changedComponentNumber}</a>
                        </lightning-layout-item>
                        <lightning-layout-item size="3" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.componentName}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.componentType}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.changedBy}
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-truncate text-body font-size_x-small slds-p-right_xx-small slds-p-left_x-small">
                            {component.changedOn.label}
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </template>
        </div>
    </div>
    <div class="slds-p-around_xx-small">
        <a class="link font-size_x-small" onclick={handleViewAllComponents}>
            Go to list »
        </a>
    </div>
</template>