/**
 * Created by vladislav on 1.09.21.
 */
.check-box-container {
    max-width: 32px;
    padding-top: 3px;
}
.check-box-container-header {
    max-width: 32px;
    padding-top: 5px;
}

.detail-header {
    text-overflow: ellipsis;
    padding: 0;
    background-color: rgb(242, 243, 243);
    white-space: nowrap;
    overflow: hidden;
    /*border-color: #e0e3e5;*/
    border: #e0e3e5 1px solid;
}

.detail-header a:hover{
    text-decoration: none !important;
}

.detail-header-element {
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-row:hover {
    background-color: #e3f3ff;
}

.text-header {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}

.text-body_bold {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-wrap_hard {
    overflow-wrap: anywhere;
}

.font-size_x-small {
    font-size: 12px;
}

.font-size_small {
    font-size: 14px;
}

.font-size_medium {
    font-size: 16px;
}

.font-size_large {
    font-size: 18px;
}

.font-weight_bold {
    font-weight: bold;
}