.hr {
    border-bottom: 1px solid #dddbda;
}

.left {
    padding-left: 8px;
}

.right {
    padding-right: 8px;
}

.width-height_full {
    width: 100%;
    height: 100%;
}

.title {
    background: #f3f2f2;
    font-weight: 600;
    padding: 8px 0;
    color: rgb(81, 79, 77);
}

.row-content {
    padding: 4px 0;
}

.row:hover {
    margin-top: -1px;
    padding-top: 1px;
    background: #f3f2f2;
}

.title-column {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}