<template>
  <div class="slds-card">
    <div>
      <lightning-layout class="title">
        <lightning-layout-item size="3" class="left title-column">
          Changed Component Number
        </lightning-layout-item>
        <lightning-layout-item size="3" class="title-column">
          Component Name
        </lightning-layout-item>
        <lightning-layout-item size="2" class="title-column">
          Component Type
        </lightning-layout-item>
        <lightning-layout-item size="2" class="title-column">
          Changed By
        </lightning-layout-item>
        <lightning-layout-item size="2" class="right title-column">
          Changed On
        </lightning-layout-item>
      </lightning-layout>
    </div>

    <div class="hr"></div>

    <div>
      <template for:each={changedComponentList} for:item="component">
        <div key={component.id} class="row">
          <lightning-layout vertical-align="center" class="row-content">
            <lightning-layout-item size="3" class="left">
              <a data-id={component.id} onclick={handleOpenRecord}>{component.changedComponentNumber}</a>
            </lightning-layout-item>
            <lightning-layout-item size="3">
              {component.componentName}
            </lightning-layout-item>
            <lightning-layout-item size="2">
              {component.componentType}
            </lightning-layout-item>
            <lightning-layout-item size="2">
              {component.changedBy}
            </lightning-layout-item>
            <lightning-layout-item size="2" class="right">
              {component.changedOn.label}
            </lightning-layout-item>
          </lightning-layout>
          <hr class="slds-m-around_none slds-p-around_none">
        </div>
      </template>
      <div class="slds-p-around_small">
        <a onclick={handleViewAllComponents} class="slds-align_absolute-center width-height_full">View All</a>
      </div>
    </div>
  </div>
</template>