.hr {
    border-bottom: 1px solid rgb(185, 179, 179);
}

.title {
    font-size: 14px;
}

.check-box-container {
    max-width: 30px;
}

.detail-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-wrap_hard {
    overflow-wrap: anywhere;
}