<template>
  <div class="slds-card">
    <div class="slds-card__header detail-header">
      <lightning-layout class="title">
        <lightning-layout-item  class="check-box-container">
          <lightning-input value={isSelectedAll} type="checkbox" label="" variant="label-hidden" onchange={handleSelectAll}></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="componentName" onclick={handleSort}>
            Component Name
            <span class="slds-hide header-arrow" data-id="source-table-componentName-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-componentName-down">▼</span>
          </a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="componentType" onclick={handleSort}>
            Component Type
            <span class="slds-hide header-arrow" data-id="source-table-componentType-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-componentType-down">▼</span>
          </a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="changedAction" onclick={handleSort}>
            Changed Action
            <span class="slds-hide header-arrow" data-id="source-table-changedAction-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-changedAction-down">▼</span>
          </a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="changedBy" onclick={handleSort}>
            Changed By
            <span class="slds-hide header-arrow" data-id="source-table-changedBy-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-changedBy-down">▼</span>
          </a>
        </lightning-layout-item>
        <lightning-layout-item size="2">
          <a data-id="changedOn" onclick={handleSort}>
            Changed On
            <span class="slds-hide header-arrow" data-id="source-table-changedOn-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-changedOn-down">▼</span>
          </a>
        </lightning-layout-item>
        <lightning-layout-item >
          <a data-id="status" onclick={handleSort}>
            Status
            <span class="slds-hide header-arrow" data-id="source-table-status-up">▲</span>
            <span class="slds-hide header-arrow" data-id="source-table-status-down">▼</span>
          </a>
        </lightning-layout-item>
      </lightning-layout>
    </div>

    <div class="hr"></div>

    <div class="slds-card__body slds-card__body_inner">
      <template for:each={changedComponentList} for:item="component">
        <div key={component.id} class="slds-m-vertical_small">
          <lightning-layout >
            <lightning-layout-item  class="check-box-container">
              <lightning-input data-id={component.id}
                               type="checkbox"
                               label=""
                               variant="label-hidden"
                               checked={component.checked}
                               onchange={handleSelectComponent}
              ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="2" class="text-wrap_hard slds-p-right_xx-small">
              {component.componentName}
            </lightning-layout-item>
            <lightning-layout-item size="2" class="text-wrap_hard slds-p-right_xx-small">
              {component.componentType}
            </lightning-layout-item>
            <lightning-layout-item size="2" class="slds-truncate slds-p-right_xx-small">
              {component.changedAction}
            </lightning-layout-item>
            <lightning-layout-item size="2" class="slds-truncate slds-p-right_xx-small">
              {component.changedBy}
            </lightning-layout-item>
            <lightning-layout-item size="2" class=" slds-p-right_xx-small">
              {component.changedOn.label}
            </lightning-layout-item>
            <lightning-layout-item  class=" slds-p-right_xx-small">
              {component.statusLabel}
            </lightning-layout-item>
          </lightning-layout>
        </div>
      </template>
    </div>
  </div>
</template>