<!--
 - Created by vladislav on 1.09.21.
 -->

<!-- classicTrackingOrganizationComponent -->
<template>
    <div class="slds-is-relative background-color_gray width-height_full">
        <!--  Loading  -->
        <template if:true={isLoading}>
            <lightning-spinner class="z-index_97" alternative-text="Loading" size="medium"></lightning-spinner>
        </template>

        <c-custom-toast-classic></c-custom-toast-classic>

        <article class="">
            <!--  Header  -->
            <div class="slds-p-vertical_medium">
                <h2 class="text-header font-size_large">
                    Latest Components
                </h2>
            </div>

            <!--  Tabs  -->
            <div>
                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav tab-horizontal" data-id="latest-component-tabs" role="tablist"
                        onclick={handleClassicHorizontalTabSelected}>
                        <li data-id="tab-components" class="tabs_default__item tabs_default__item_active general-tab">
                            <a class="slds-tabs_default__link text-body_bold">Components</a>
                        </li>
                        <li data-id="tab-settings" class="tabs_default__item general-tab">
                            <a class="slds-tabs_default__link text-body_bold">Settings</a>
                        </li>
                        <li data-id="tab-logs" class="tabs_default__item general-tab">
                            <a class="slds-tabs_default__link text-body_bold">Logs</a>
                        </li>
                    </ul>
                    <!-- Tab Components -->
                    <div data-id="tab-components-content" class="slds-tabs_default__content slds-show general-tab"
                         role="tabpanel" aria-labelledby="tab-default-1__item">
                        <!--  Changed Components  -->
                        <div class="slds-m-top_medium changed-components-container">
                            <lightning-layout>
                                <lightning-layout-item class="text-body_bold">
                                    Changed Components
                                </lightning-layout-item>
                            </lightning-layout>

                            <lightning-layout horizontal-align="spread">
                                <lightning-layout-item class="vertical-align_center">
                                    <lightning-layout>
                                        <lightning-layout-item class="slds-m-right_small">
                                            <c-combobox-classic
                                                    placeholder="Select an Metadata Type"
                                                    options={filterMetadataTypeOptionList}
                                                    value={filterComponentType}
                                                    onchange={handleChangeFilterComponentType}
                                            ></c-combobox-classic>
                                        </lightning-layout-item>
                                        <lightning-layout-item class="text-body">
                                            <input placeholder="Input component name..." value={filterComponentSearch}
                                                   oninput={handleChangeSearchBox} type="text">
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                                <lightning-layout>
                                    <lightning-layout-item class="slds-align_absolute-center">
                                        <input value="Refresh" class="btn" type="button" onclick={handleRefresh}>
                                    </lightning-layout-item>
                                    <lightning-layout-item class="slds-align_absolute-center">
                                        <input value="Commit to Branch" class="btn" type="button"
                                               onclick={handleCommitToBranch}>
                                    </lightning-layout-item>

                                </lightning-layout>
                            </lightning-layout>
                            <div class="slds-m-top_small">
                                <c-tracking-organization-changed-components
                                        filter-component-type={filterComponentType}
                                        filter-component-search={filterComponentSearch}
                                        changed-component-list={showedChangedComponentList}
                                        is-selected-all={isSelectedAll}
                                        is-classic={isClassic}
                                        sort-field={sortField}
                                        onselect_all={handleSelectAllComponents}
                                        onselect_component={handleSelectComponent}
                                        onsort={handleSort}
                                        is-supported={isSupported}
                                ></c-tracking-organization-changed-components>
                            </div>
                        </div>

                        <template if:true={isChangedComponentListEmpty}>
                            <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center not-found-container">
                                <lightning-icon class="slds-m-horizontal_xx-small icon-foreground_gray"
                                                icon-name="utility:database" size="small"></lightning-icon>
                                <span class="not-supported-label slds-p-left_medium">'SourceMember' records not found</span>
                            </div>
                        </template>

                        <!--  Pagination  -->
                        <div class="slds-m-top_medium">
                            <lightning-layout vertical-align="center" horizontal-align="space">
                                <lightning-layout-item>
                                    <lightning-layout>
                                        <lightning-layout-item class="slds-align_absolute-center">
                                            <input disabled={paginationInfo.isDisableLeftSection} data-id="first"
                                                   value="First" class="btn" type="button" onclick={handlePagination}>
                                            <!--                                            <lightning-button disabled={paginationInfo.isDisableLeftSection} data-id="first" label="First" onclick={handlePagination}></lightning-button>-->
                                        </lightning-layout-item>
                                        <lightning-layout-item class="slds-align_absolute-center">
                                            <input disabled={paginationInfo.isDisableLeftSection} data-id="previous"
                                                   value="Previous" class="btn" type="button"
                                                   onclick={handlePagination}>
                                            <!--                                            <lightning-button disabled={paginationInfo.isDisableLeftSection} class="slds-m-right_xx-small" data-id="previous" label="Previous" onclick={handlePagination}></lightning-button>-->
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                                <div class="text-body slds-text-align_center">{paginationInfo.label}</div>
                                <lightning-layout-item>
                                    <lightning-layout>
                                        <lightning-layout-item class="slds-align_absolute-center">
                                            <input disabled={paginationInfo.isDisableRightSection} data-id="next"
                                                   value="Next" class="btn" type="button" onclick={handlePagination}>
                                            <!--                                            <lightning-button disabled={paginationInfo.isDisableRightSection} class="slds-m-right_xx-small" data-id="next" label="Next" onclick={handlePagination}></lightning-button>-->
                                        </lightning-layout-item>
                                        <lightning-layout-item class="slds-align_absolute-center">
                                            <input disabled={paginationInfo.isDisableRightSection} data-id="last"
                                                   value="Last" class="btn" type="button" onclick={handlePagination}>
                                            <!--                                            <lightning-button disabled={paginationInfo.isDisableRightSection} data-id="last" label="Last" onclick={handlePagination}></lightning-button>-->
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>

                    </div>
                    <!-- Tab Settings -->
                    <div data-id="tab-settings-content" class="slds-tabs_default__content slds-hide general-tab"
                         role="tabpanel" aria-labelledby="tab-default-2__item">
                        <div class="">
                            <div class="slds-align_absolute-center">
                                <input value="Save" class="btn" type="button" onclick={handleSave}>
                            </div>
                            <lightning-layout vertical-align="start" horizontal-align="spread">
                                <lightning-layout-item>
                                    <lightning-layout>
                                        <lightning-layout-item class="text-body">
                                            <c-combobox-classic
                                                    label="Frequency"
                                                    placeholder="Select an Frequency"
                                                    options={frequencyOptionList}
                                                    value={frequency}
                                                    onchange={handleChangeFrequency}
                                            ></c-combobox-classic>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <!--  Metadata Types Configuration-->
                                    <div class="metadata-types-container text-body slds-p-top_small"
                                         data-id="dual-listbox-metadata-types">
                                        <c-dual-listbox-classic
                                                label="Select Metadata Types"
                                                source-label="Available Types"
                                                selected-label="Selected Types"
                                                options={metadataTypeOptionList}
                                                value={selectedMetadataTypeList}
                                                onchange={handleChangeMetadataTypes}
                                        ></c-dual-listbox-classic>
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>

                            <div class="slds-align_absolute-center slds-p-top_large">
                                <input value="Save" class="btn" type="button" onclick={handleSave}>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Logs -->
                    <div data-id="tab-logs-content" class="slds-tabs_default__content slds-hide general-tab"
                         role="tabpanel" aria-labelledby="tab-default-3__item">

                        <template if:true={isLogList}>
                            <div class="slds-vertical-tabs log-tab log-container" data-id="logs">
                                <!-- Tabs -->
                                <ul class="slds-vertical-tabs__nav log-tab-nav" role="tablist" aria-orientation="vertical"
                                    onclick={handleTabSelected}>

                                    <li for:each={logList} for:item="log" key={log.id} class={log.tabLogClass}
                                        data-id={log.tabLogId}>
                                        <a class="log-tab-link">
                                      <span if:false={log.isInProcess} class="slds-m-right_x-small">
                                        <lightning-icon size="xx-small" icon-name={log.icon}></lightning-icon>
                                      </span>

                                            <span if:true={log.isInProcess} class="slds-is-relative spinner-small-container slds-m-right_x-small">
                                            <div class="spinner-small slds-spinner slds-spinner_x-small slds-spinner_inline">
                                                <span class="slds-assistive-text">Loading</span>
                                                <div class="slds-spinner__dot-a"></div>
                                                <div class="slds-spinner__dot-b"></div>
                                            </div>
                                        </span>
                                            <span class="slds-truncate" title="Tab 1">{log.startedDate}</span>
                                        </a>
                                    </li>

                                    <template if:true={isShowMore}>
                                        <li class="slds-vertical-tabs__nav-item log-tab" data-id="logs-show-more">
                                            <a class="log-tab-link slds-align_absolute-center">
                                                Show More
                                            </a>
                                        </li>
                                    </template>
                                </ul>
                                <!-- Contents -->
                                <div for:each={logList} for:item="log" key={log.id} class={log.contentClass} id={log.id}
                                     data-id={log.contentId} role="tabpanel" aria-labelledby="slds-vertical-tabs-0__nav">
                                    <div class="slds-grid slds-grid_vertical slds-text-longform">
                                        <div class="slds-col">
                                            <div class="log-content-body  card slds-grid slds-grid_vertical slds-text-longform text-body font-size_x-small">
                                                <div class="slds-col log-content-body-row">
                                                    <div class="slds-text-align_right text-body_bold font-size_xx-small text-color_light width_x-small">
                                                        Status
                                                    </div>
                                                    <div class="slds-p-left_small">
                                                        {log.status}
                                                    </div>
                                                </div>
                                                <div class="slds-col log-content-body-row">
                                                    <div class="slds-text-align_right text-body_bold font-size_xx-small text-color_light width_x-small">
                                                        Started Date
                                                    </div>
                                                    <div class="slds-p-left_small">
                                                        {log.startedDate}
                                                    </div>
                                                </div>
                                                <template if:true={log.completedDate}>
                                                    <div class="slds-col log-content-body-row">
                                                        <div class="slds-text-align_right text-body_bold font-size_xx-small text-color_light width_x-small">
                                                            Completed Date
                                                        </div>
                                                        <div class="slds-p-left_small">
                                                            {log.completedDate}
                                                        </div>
                                                    </div>
                                                </template>
                                                <div class="slds-col log-content-body-row">
                                                    <div class="slds-text-align_right text-body_bold font-size_xx-small text-color_light width_x-small">
                                                        Log
                                                    </div>
                                                    <div class="slds-p-left_small log-body-block">
                                                        {log.body}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-vertical_small">

                                            <div class="slds-grid slds-grid_vertical-align-center">
                                                <template if:true={log.isAutoscroll}>
                                                    <input type="checkbox"
                                                           disabled={log.isNotInProcess}
                                                           class="autoscroll"
                                                           checked
                                                    >
                                                </template>
                                                <template if:false={log.isAutoscroll}>
                                                    <input type="checkbox"
                                                           disabled={log.isNotInProcess}
                                                           class="autoscroll"
                                                    >
                                                </template>
                                                <div class="text-body slds-p-left_x-small">
                                                    Autoscroll with output
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </template>

                        <template if:false={isLogList}>
                            <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center not-found-container
                             log-container">
                                <lightning-icon class="slds-m-horizontal_xx-small icon-foreground_gray"
                                                icon-name="utility:database" size="small"></lightning-icon>
                                <span class="not-supported-label slds-p-left_medium">Log records not found</span>
                            </div>
                        </template>


                    </div>
                </div>

            </div>
        </article>
    </div>
</template>