<!--
 - Created by vladislav on 8.09.21.
 -->

<!-- classicNotSupportedSourceMember -->
<template>
    <div class="slds-is-relative">
        <!--  Loading  -->
        <template if:true= {isLoading}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>

        <c-custom-toast-classic ></c-custom-toast-classic>

        <article class="slds-p-top_medium">
            <div class="slds-grid slds-gutters slds-p-bottom_small width_full">
                <div class="slds-col slds-size_1-of-3 text-header font-size_large width_30">
                    Latest Components
                </div>
                <div class="slds-col slds-m-left_xx-small">
                    <input value="Commit to Branch" class="btn" type="button"
                           onclick={handleCommitToBranchNotSupported}>
                </div>
            </div>
            <div>
                <template if:true={isExistComponents}>
                    <c-tracking-organization-changed-components
                            filter-component-type={filterComponentType}
                            filter-component-search={filterComponentSearch}
                            changed-component-list={showedChangedComponentList}
                            is-selected-all={isSelectedAll}
                            sort-field={sortField}
                            onview_all_components={handleViewAllComponents}
                            onselect_all={handleSelectAllComponents}
                            onselect_component={handleSelectComponent}
                            onsort={handleSort}
                            is-supported={isSupported}
                            is-classic={isClassic}
                    ></c-tracking-organization-changed-components>
                </template>
            </div>
        </article>
    </div>
</template>