.btn {
    color: #333;
    margin: 3px;
    padding: 2px 4px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
    background-color: #e8e8e9;
    font-weight: bold;
    font-size: 11px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.text-header {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}

.text-body_bold {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-color_light {
    color: rgb(74, 74, 86);
}

.font-size_xx-small {
    font-size: 11px;
}

.font-size_x-small {
    font-size: 12px;
}

.font-size_small {
    font-size: 13px;
}

.font-size_medium {
    font-size: 14px;
}

.font-size_large {
    font-size: 1.2em;
}

.font-weight_bold {
    font-weight: bold;
}

.width_full {
    width: 100%;
}

.width_30 {
    width: 30%;
}