/**
 * Created by vladislav on 1.09.21.
 */

/*tabs*/
.tab-horizontal {
    border-bottom: #fc70ba 2px solid;
    margin: 0 -10px;
}

.tabs_default__item {
    padding-inline: 5px;
    margin-inline: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: currentColor;
    border: 0;
    text-transform: inherit;
    z-index: 1;
}

.tabs_default__item a {
    height: 28px;
    line-height: 28px !important;
}

.tabs_default__item a:hover {
    color: #015ba7;
}

.tabs_default__item_active {
    background-color: #ce007c;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 3px 0 5px -3px #999, -3px 0 5px -3px #999;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.50),rgba(255,255,255,0) 12px);
}

.tabs_default__item_active a{
    color: #fff !important;
}

/*btn*/
.btn {
    color: #333;
    margin: 3px;
    padding: 5px 4px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
    background-color: #e8e8e9;
    font-weight: bold;
    font-size: 0.9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn:disabled {
    opacity: 0.5;
}
.btn:disabled:hover {
    background-position-x: 100%;
    background-position-y: 0%;
}

/*utility*/
.vertical-align_center {
    display: flex;
    align-items: center;
}

.background-color_gray {
    background-color: #f8f8f8;
}

.text-header {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}

.text-body_bold {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.text-color_light {
    color: rgb(74, 74, 86);
}

.font-size_xx-small {
    font-size: 11px;
}

.font-size_x-small {
    font-size: 12px;
}

.font-size_small {
    font-size: 13px;
}

.font-size_medium {
    font-size: 14px;
}

.font-size_large {
    font-size: 16px;
}

.font-weight_bold {
    font-weight: bold;
}

.width-height_full {
    width: 100%;
    height: 100%;
    margin: 0;
}

.width_x-small {
    width: 65px;
}

.card {
    border: var(--lwc-borderWidthThin) solid #dddbda!important;
}

.z-index_97 {
    z-index: 97 !important;
}
/*not found-supproted label*/
.not-found-container {
    padding: 110px;
}

.not-supported-label {
    font-size: 34px;
    color: #7c8da9;
}

.icon-foreground_gray {
    --sds-c-icon-color-foreground: gray;
}

.icon-background_gray {
    --sds-c-icon-color-background: gray;
}
/*logs*/
.log-container {
    height: 440px;
}

.log-tab {
    font-size: 12px;
    background-color: rgb(242,242,243);
    border-top: none;
    border-bottom: none;
}

.log-tab-link {
    padding: 4px 10px;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
}


.log-tab-link:hover {
    text-decoration: underline;
    color: rgba(1, 118, 211, 1);
}

.log-tab-nav {
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    border-right: none!important;
}

.log-tab-nav li {
    direction: ltr;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
}
.log-tab-nav li[data-id="logs-show-more"]{
    border-bottom: none;
}

.log-content {
    font-size: 12px;
    padding: 10px;
}

.log-content-body {
    display: grid;
    grid-auto-rows: min-content;
    height: 390px;
    background-color: rgb(248, 248, 248);
    white-space: pre-line;
    overflow-y: auto;
    overflow-wrap: anywhere;
}

.log-content-body-row {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.log-content-body-row:last-child {
    border-bottom: none;
}
.log-body-block {
    font-family: "Courier New",'Courier',mono;
    width: fit-content;
}

/*spinner*/
.spinner-small-container {
    padding-right: 14px;
}

.spinner-small {
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    top: 7px;
}