<template>
  <div class="slds-is-relative">
    <!--  Loading  -->
    <template if:true= {isLoading}>
      <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>

    <c-custom-toast ></c-custom-toast>

    <article class="slds-card card">
      <!--  Header  -->
      <div class="slds-card__header card-header slds-m-bottom_none">
        <lightning-layout vertical-align="center">
          <lightning-layout-item >
            <lightning-icon size="small" icon-name="custom:custom70" ></lightning-icon>
          </lightning-layout-item>
          <lightning-layout-item class="slds-m-left_small">
            <h2 class="slds-card__header-title">
              <a class="slds-card__header-link" onclick={handleViewAllComponents}>
                {notSupportedTitle}
              </a>
            </h2>
          </lightning-layout-item>
          <lightning-layout-item alignment-bump="left">
            <lightning-button label="Commit To Branch" onclick={handleCommitToBranchNotSupported}></lightning-button>
          </lightning-layout-item>
        </lightning-layout>
      </div>

      <div>
        <template if:true={isExistComponents}>
          <c-tracking-organization-changed-components
                filter-component-type={filterComponentType}
                filter-component-search={filterComponentSearch}
                changed-component-list={showedChangedComponentList}
                is-selected-all={isSelectedAll}
                sort-field={sortField}
                onview_all_components={handleViewAllComponents}
                onselect_all={handleSelectAllComponents}
                onselect_component={handleSelectComponent}
                onsort={handleSort}
                is-supported={isSupported}
          ></c-tracking-organization-changed-components>
        </template>
      </div>
    </article>
  </div>
</template>