.test {
    padding: 10px;
}

.card {
    border: var(--lwc-borderWidthThin) solid #dddbda!important;
}

.card-header {
    padding: 15px!important;
    background: rgb(243, 242, 242);
    border: 0;
    box-shadow: none;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: var(--lwc-borderWidthThin) solid #dddbda;
}

.tab-content {
    padding: 12px;
}

.options-label {
    color: var(--lwc-colorTextLabel, rgb(107, 109, 112));
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 2px;
}

.metadata-types-container {
    max-width: 600px;
    min-width: 500px;
}

.hr {
    border-bottom: 1px solid rgb(185, 179, 179);
}