.test {
    padding: 10px;
}

.card {
    border: var(--lwc-borderWidthThin) solid #dddbda!important;
}

.card-header {
    padding: 15px!important;
    background: rgb(243, 242, 242);
    border: 0;
    box-shadow: none;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: var(--lwc-borderWidthThin) solid #dddbda;
}

.tab-content {
    padding: 12px;
}

.log-body-block {
    height: 430px;
    white-space: pre-line;
    overflow-y: auto;
    overflow-wrap: anywhere;
}

.log-body-block_small {
    height: 350px;
}

.options-label {
    color: var(--lwc-colorTextLabel, rgb(107, 109, 112));
    font-weight: 700;
    /*font-size: 12px;*/
    margin-bottom: 2px;
}

.metadata-types-container {
    max-width: 600px;
    min-width: 500px;
}

.z-index_97 {
    z-index: 97 !important;
}

.not-supported-label {
    font-size: 24px;
    color: #7c8da9;
}

.icon-foreground_gray {
    --sds-c-icon-color-foreground: gray;
}

.icon-background_gray {
    --sds-c-icon-color-background: gray;
}

div[data-id="logs"] {
    height: 560px;
}

.text-body_medium {
    font-size: 14px;
}
.log-tab-nav {
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    border-right: none!important;
}

.log-tab-nav li {
    direction: ltr;
    border-right: 1px solid rgb(221, 219, 218);
}

.log-tab-nav::-webkit-scrollbar {
    padding: 2px;
    width: 12px;
    height: 12px;
    background: transparent;
}

.log-tab-nav::-webkit-scrollbar-thumb {
    background: transparent;
}

.log-tab-nav:hover::-webkit-scrollbar-thumb {
    background: #c1c9d2;
    border-radius: 12px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.color-link {
    color: rgba(1, 118, 211, 1);
}

.spinner-small-container {
    width: 16px;
}

.border_none {
    border: none;
}