<template>
  <div class="slds-is-relative">
    <!--  Loading  -->
    <template if:true= {isLoading}>
      <lightning-spinner class="z-index_97" alternative-text="Loading" size="medium"></lightning-spinner>
    </template>

    <c-custom-toast ></c-custom-toast>

    <template if:true={isShowCommitToBranchModal}>
      <c-org-component-to-branch-modal
            onclose_modal={handleCloseCommitToBranchModal}
            selected-component-id-list={selectedComponentIdList}
            selected-deleted-component-id-list={selectedDeletedComponentIdList}
            organization-id={recordId}
            access-token={accessToken}
      ></c-org-component-to-branch-modal>
    </template>

    <!--  Retrieve Manually  -->
    <template if:true={isShowModal}>
      <c-tracking-retrieve-manually
              record-id={recordId}
              component-list={filteredTooLargeComponentList}
              log={activeManualLog}
              onclose={handleToggleModal}
              onrefresh_components={refreshTableSourceMemberRecords}
      ></c-tracking-retrieve-manually>
    </template>

    <article class="slds-card card">
      <!--  Header  -->
      <div class="slds-card__header card-header slds-m-bottom_none">
        <lightning-layout vertical-align="center">
          <lightning-layout-item >
            <lightning-icon size="small" icon-name="custom:custom70" ></lightning-icon>
          </lightning-layout-item>
          <lightning-layout-item class="slds-m-left_small">
            <h2 class="slds-card__header-title">
              <a class="slds-card__header-link">
                Latest Components
              </a>
            </h2>
          </lightning-layout-item>
        </lightning-layout>
      </div>

      <!--  Tabs  -->
      <div>
        <lightning-tabset>
          <!--  Tab Components  -->
          <lightning-tab label="Components">
              <div class="tab-content">
                <!--  Changed Components  -->
                <div class="slds-m-top_medium changed-components-container">
                  <lightning-layout >
                    <lightning-layout-item class="options-label">
                      Changed Components
                    </lightning-layout-item>
                  </lightning-layout>

                  <lightning-layout horizontal-align="spread">
                    <lightning-layout-item >
                      <lightning-layout >
                        <lightning-layout-item class="slds-m-right_small">
                          <lightning-combobox
                                  label=""
                                  variant="label-hidden"
                                  options={filterMetadataTypeOptionList}
                                  value={filterComponentType}
                                  placeholder="Select an Metadata Type"
                                  onchange={handleChangeFilterComponentType}
                          >
                          </lightning-combobox>
                        </lightning-layout-item>
                        <lightning-layout-item >
                          <lightning-input label=""
                                           variant="label-hidden"
                                           placeholder="Input component name..."
                                           value={filterComponentSearch}
                                           onchange={handleChangeSearchBox}
                          ></lightning-input>
                        </lightning-layout-item>
                      </lightning-layout>
                    </lightning-layout-item>
                    <lightning-layout >
                      <template if:true={isPullManually}>
                        <lightning-layout-item class="slds-p-horizontal_xx-small">
                          <lightning-button label="Retrieve Manually" onclick={handleToggleModal} disabled={isNotAbleRetrieve}></lightning-button>
                        </lightning-layout-item>
                      </template>
                      <lightning-layout-item class="slds-p-horizontal_xx-small">
                        <lightning-button label="Refresh" onclick={handleRefresh}></lightning-button>
                      </lightning-layout-item>
                      <lightning-layout-item class="slds-p-horizontal_xx-small">
                        <lightning-button label="Commit to Branch" onclick={handleCommitToBranch} disabled={isNotAbleRetrieve}></lightning-button>
                      </lightning-layout-item>

                    </lightning-layout>
                  </lightning-layout>
                  <div  class="slds-m-top_small">
                    <c-tracking-organization-changed-components
                            filter-component-type={filterComponentType}
                            filter-component-search={filterComponentSearch}
                            changed-component-list={showedChangedComponentList}
                            is-selected-all={isSelectedAll}
                            sort-field={sortField}
                            onselect_all={handleSelectAllComponents}
                            onselect_component={handleSelectComponent}
                            onsort={handleSort}
                            is-supported={isSupported}
                    ></c-tracking-organization-changed-components>
                  </div>
                </div>

              <template if:true={isChangedComponentListEmpty}>
                <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center slds-p-around_large">
                  <lightning-icon class="slds-m-horizontal_xx-small icon-foreground_gray" icon-name="utility:database" size="small"></lightning-icon>
                  <span class="not-supported-label slds-p-left_medium">'SourceMember' records not found</span>
                </div>
              </template>

              <!--  Pagination  -->
              <div class="slds-m-top_medium">
                <lightning-layout vertical-align="center" horizontal-align="space">
                  <lightning-layout-item >
                    <lightning-layout >
                      <lightning-layout-item >
                        <lightning-button disabled={paginationInfo.isDisableLeftSection} data-id="first" label="First" onclick={handlePagination}></lightning-button>
                      </lightning-layout-item>
                      <lightning-layout-item >
                        <lightning-button disabled={paginationInfo.isDisableLeftSection} class="slds-m-right_xx-small" data-id="previous" label="Previous" onclick={handlePagination}></lightning-button>
                      </lightning-layout-item>
                    </lightning-layout>
                  </lightning-layout-item>
                  <div class="slds-text-color_default slds-text-align_center">{paginationInfo.label}</div>
                  <lightning-layout-item >
                    <lightning-layout >
                      <lightning-layout-item >
                        <lightning-button disabled={paginationInfo.isDisableRightSection} class="slds-m-right_xx-small" data-id="next" label="Next" onclick={handlePagination}></lightning-button>
                      </lightning-layout-item>
                      <lightning-layout-item >
                        <lightning-button disabled={paginationInfo.isDisableRightSection} data-id="last" label="Last" onclick={handlePagination}></lightning-button>
                      </lightning-layout-item>
                    </lightning-layout>
                  </lightning-layout-item>
                </lightning-layout>
              </div>

              </div>
          </lightning-tab>
          <!--  Tab Settings  -->
          <lightning-tab class="slds-p-bottom_none" label="Settings">
            <!--  Metadata Types Configuration-->
            <div class="tab-content slds-p-bottom_medium">
              <div class="slds-m-top_medium">
                <lightning-layout vertical-align="start" horizontal-align="spread">
                  <lightning-layout-item>
                    <lightning-layout >
                      <lightning-layout-item class="options-label slds-text-body_small">
                        Frequency
                      </lightning-layout-item>
                    </lightning-layout>
                    <lightning-layout >
                      <lightning-layout-item >
                        <lightning-combobox
                                label="Frequency"
                                options={frequencyOptionList}
                                placeholder="Select an Frequency"
                                value={frequency}
                                variant="label-hidden"
                                onchange={handleChangeFrequency}
                                disabled={isNotAbleRetrieve}
                        >
                        </lightning-combobox>
                      </lightning-layout-item>
                    </lightning-layout>
                  <!--  Metadata Types Configuration-->
                  <lightning-layout >
                    <lightning-layout-item class="options-label slds-m-top_medium slds-text-body_small">
                        Select Metadata Types
                      </lightning-layout-item>
                    </lightning-layout>
                    <div class="metadata-types-container">
                      <lightning-dual-listbox label="Select Metadata Types"
                                              source-label="Available Types"
                                              selected-label="Selected Types"
                                              options={metadataTypeOptionList}
                                              value={selectedMetadataTypeList}
                                              variant="label-hidden"
                                              onchange={handleChangeMetadataTypes}>
                      </lightning-dual-listbox>
                    </div>
                  </lightning-layout-item>
                  <lightning-layout-item >
                    <lightning-button label="Save" onclick={handleSave}></lightning-button>
                  </lightning-layout-item>
                </lightning-layout>


              </div>
            </div>

            <!--  Logs  -->
            <template if:true={isLogList}>
              <div class="slds-p-left_small slds-p-top_medium options-label slds-text-heading_small">Logs</div>
              <div class="slds-vertical-tabs" data-id="logs">
                <ul class="slds-vertical-tabs__nav log-tab-nav" role="tablist" aria-orientation="vertical" onclick={handleTabSelected}>

                  <li for:each={logList} for:item="log" key={log.id} class={log.tabLogClass} data-id={log.tabLogId}>
                    <a class="slds-vertical-tabs__link">
                      <span if:false={log.isInProcess} class="slds-m-right_x-small">
                        <lightning-icon size="x-small" icon-name={log.icon} ></lightning-icon>
                      </span>
                      <span if:true={log.isInProcess} class="slds-is-relative spinner-small-container slds-m-right_x-small">
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                      </span>
                      <span class="slds-truncate" title={log.startedDate}>{log.startedDate}</span>
                    </a>
                  </li>

                  <template if:true={isShowMore}>
                    <li class="slds-vertical-tabs__nav-item" data-id="logs-show-more">
                      <a class="slds-vertical-tabs__link slds-text-link slds-align_absolute-center">
                        Show More
                      </a>
                    </li>
                  </template>
                </ul>



                <div for:each={logList} for:item="log" key={log.id} class={log.contentClass} id={log.id} data-id={log.contentId} role="tabpanel" aria-labelledby="slds-vertical-tabs-0__nav">
                  <div class="slds-grid slds-grid_vertical slds-text-longform">
                    <div class="slds-col">
                      <div class="slds-grid  slds-p-horizontal_medium">
                        <div class="slds-p-right_medium text-body_medium"><span class="color-link">Started Date:</span> {log.startedDate}</div>
                        <div class="slds-p-right_medium text-body_medium"><span class="color-link">Status:</span> {log.status}{log.errorMessage}</div>
                        <template if:true={log.completedDate}>
                          <div class="slds-p-right_medium text-body_medium"><span class="color-link">Completed Date:</span> {log.completedDate}</div>
                        </template>
                      </div>
                    </div>
                    <div class="slds-col">
                      <hr class="slds-m-vertical_small">
                    </div>
                    <div class="slds-col">
                      <div class="log-body-block card slds-p-horizontal_medium">
                        {log.body}
                      </div>
                    </div>
                    <div class="slds-col">
                      <lightning-input class="autoscroll slds-p-vertical_small" type="checkbox" label="Autoscroll with output" name="autoscroll" checked disabled={log.isNotInProcess}></lightning-input>
                    </div>
                  </div>



                </div>
              </div>
            </template>

          </lightning-tab>
        </lightning-tabset>
      </div>
    </article>
  </div>
</template>
